* {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  color: #333;
  font-family: system-ui;
}

.crud {
  max-width: 1024px;
  margin: auto;
  padding: 0 0.5rem;
}

.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

.input {
  width: calc(100% - 8px);
  height: 30px;
  outline: none;
  border: none;
  background: #dddddd;
  margin: 4px 0;
  border-radius: 4px;
  padding: 4px;
  color: #333333;
}

.input:focus {
  background: #e0e0e0;
}

.price {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

#total {
  background: #ff9800;
  padding: 4px 10px;
  line-height: 13px;
  border-radius: 4px;
  margin: 4px 0;
}
:root {
  --success-color: #5cd460;
  --warning-color: #ff9800;
}

#total::before {
  content: "Total: ";
}

.button {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background: #2ead32;
  color: #fff;
  border-radius: 15px;
  font-size: 1rem;
}
hr.divider {
  margin: 0.5rem 0;
  border-top: 1px solid #00000063;
}
.button:hover {
  background: #69e181;
}

.btnSearch {
  display: flex;
  justify-content: space-between;
}

.btnSearch button {
  width: 45%;
}

.actionButton {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background: #2ead32;
  color: #fff;
  border-radius: 15px;
  font-size: 0.8rem;
}
.actionButton:hover {
  background: #69e181;
}

.deleteAllButton {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background: #2ead32;
  color: #fff;
  border-radius: 15px;
  font-size: 1rem;
  margin: 10px 0;
}
.deleteAllButton:hover {
  background: #69e181;
}
table {
  margin: 1rem 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
tr:nth-child(even) {
  background-color: #dbdbdb;
}
